* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  color: #fff;
  font-family:  sans-serif;
}

.card{
  display:inline-block;
  position: relative;
  min-width: 500px;
  min-height: 300px;
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
}

.title{
  margin-bottom: 40px;
  font-size: 25px;
}
.numbers {
  font-size: 50px;
  margin-bottom: 50px;
}
.text {
  font-weight: bold;
}
.percentage{
font-size: 21px;
}
.card::before,
.card::after{
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
  transition: margin-right 200ms linear;
}
.card::before{
  right: -100px;
  top: -30px;
  width: 240px;
  height: 240px;
}

.card::after{
  width: 280px;
  height: 280px;
  right: -40px;
  bottom: -100px;
}
.card:hover::before,
.card:focus::before,
.card:hover::after,
.card:focus::after {
  margin-right: 100px;
}

.img {
  position: absolute;
    width: 30px;
    height: 30px;
    right: 50px;
    top: 50px;
  }
  .card:nth-child(3n+1){
    background: linear-gradient(
      90deg,
      rgba(250, 164, 110, 1) 0%,
      rgba(231, 105, 86, 0.9528186274509804) 35%,
      rgba(204, 39, 58, 0.8603816526610644) 86%
    );
  }
  .card:nth-child(3n+2){
    background: linear-gradient(
      90deg,
      rgba(75, 174, 232, 1) 15%,
      rgba(73, 109, 249, 0.8071603641456583) 41%,
      rgba(44, 57, 238, 0.9304096638655462) 60%,
      rgba(23, 34, 223, 0.865983893557423) 93%
    );
  }
  .card:nth-child(3n){
    background: linear-gradient(
      90deg,
      rgba(95, 224, 186, 1) 19%,
      rgba(30, 181, 148, 1) 41%,
      rgba(17, 173, 140, 0.8687850140056023) 61%,
      rgba(22, 180, 165, 0.6699054621848739) 93%
    );
    } 





