* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main {
  position: relative;
}
.section {
  display: inline-block;
  width: 550px;
  min-height: 10vh;
  margin-top: 10px;
  padding: 20px;
  text-align: left;
}
.card-one {
  left: 10px;
}
.card-two {
  left: 650px;
}
.card-three {
  right: 10px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.radius {
  border-radius: 10px;
}
.text {
  font-weight: bold;
  text-indent: 40px;
}
.title {
  position: relative;
  margin: 40px 0 30px 0;
  font-size: 25px;
  font-weight: 600;
}
.title::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -100px;
  top: -70px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
  transition: margin-right 200ms linear;
}
.title:hover::after,
.percentage:hover::after
{
  margin-right: 100px;
}
.price {
  font-size: 50px;
}
.percentage {
  margin-top: 65px;
  margin-bottom: 50px;
  font-size: 21px;
}
.percentage::after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 300px;
  right: -20px;
  bottom: -130px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
  transition: margin-right 200ms linear;
}
.img {
  width: 30px;
  height: 30px;
  left: 82%;
  bottom: 75%;
}
.color-red {
  background: linear-gradient(
    90deg,
    rgba(250, 164, 110, 1) 0%,
    rgba(231, 105, 86, 0.9528186274509804) 35%,
    rgba(204, 39, 58, 0.8603816526610644) 86%
  );
}
.color-blue {
  background: linear-gradient(
    90deg,
    rgba(75, 174, 232, 1) 15%,
    rgba(73, 109, 249, 0.8071603641456583) 41%,
    rgba(44, 57, 238, 0.9304096638655462) 60%,
    rgba(23, 34, 223, 0.865983893557423) 93%
  );
}
.color-green {
  background: linear-gradient(
    90deg,
    rgba(95, 224, 186, 1) 19%,
    rgba(30, 181, 148, 1) 41%,
    rgba(17, 173, 140, 0.8687850140056023) 61%,
    rgba(22, 180, 165, 0.6699054621848739) 93%
  );
}

